@charset "utf-8";

/* General positioning
======================= */

.container {
   margin-inline: auto;
   width: min(90%, 70.5rem);
}

.container--narrow {
   max-width: 34rem;
}

.text-center {
   text-align: center;
}

.bg-light {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Assets/header.jpg);
   opacity: 3;
   background-size: cover;
   background-position: center;
   padding: 10em 0;

}


/* Nav tweaks for the contact page
======================= */

/*--This fulfills requirement 3.2.7 A --*/
@media (max-width: 59rem) {


   a#navicon {
      display: block;
   }

   /*--This fulfills requirement 3.2.2 B.II --*/
   header nav ul {
      display: none;
   }

   /*--This fulfills requirement 3.2.2 B.II --*/
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }

   a#navicon:hover+ul,
   header nav ul:hover {
      display: block;
   }

   /*--This fulfills requirement 3.2.2 B.II --*/
   section h1 {
      font-size: 1.5em;
   }

   /*--This fulfills requirement 3.2.2 B.II --*/
   section p {
      font-size: 0.9em;
   }
}


/*--This fulfills requirement 3.2.7 A --*/
@media (min-width: 60rem) {

   /*--This fulfills requirement 3.2.2 D --*/
   body header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }

   body header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}

/* form styles
======================= */

/*--This fulfills requirement 3.2.3 B --*/
form#survey {
   display: flex;
   flex-flow: row wrap;
}

/*--This fulfills requirement 3.2.2 A.VI --*/

form#survey>fieldset {
   /*--This fulfills requirement 3.2.3 B --*/
   background-color: #232323;
   border-radius: 20px;
   flex: 1 1 300px;
   font-size: 0.85em;
   padding: 10px;
   margin: 10px;
}

div.formRow {
   display: flex;
   flex-flow: row wrap;
   margin: 7px 0px;
}

div.formRow>* {
   flex: 1 1 150px;
}



/* Legend Styles */
/*--This fulfills requirement 3.2.3 B --*/
legend {
   /*--This fulfills requirement 3.2.2 C --*/
   background-color: rgba(141, 198, 63, 255);
   border-radius: 20px;
   color: white;
   padding: 5px;
}



/* Text Area Styles */
textarea {
   margin-top: 10px;
   height: 100px;
   width: 95%;
}


/* Spinner Styles */
div.formRow>input#dineSpin {
   flex: 0 0 50px;
}


/* Form Button Styles */
div#buttons {
   text-align: center;
   width: 100%;
}

input[type='submit'],
input[type='reset'] {
   font-size: 1.2em;
   padding: 5px;
   margin: 15px;
}


/* Validation Styles */

/*--This fulfills requirement 3.2.2 B.I --*/
input:focus,
select:focus,
textarea:focus {
   background-color: rgb(220, 255, 220);
}

/*--This fulfills requirement 3.2.2 B.I --*/
input#name:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid,
input#mail:focus:invalid {
   /*--This fulfills requirement 3.2.3 C --*/
   background: rgb(255, 232, 233) url(/Assets/rb_invalid.png) bottom right/contain no-repeat;
}

input#name:focus:valid,
input#zip:focus:valid,
input#phone:focus:valid,
input#mail:focus:valid {
   /*--This fulfills requirement 3.2.3 C --*/
   background: rgb(220, 255, 220) url(Assets/rb_valid.png) bottom right/contain no-repeat;
}

/* First radio set form styles */


/*--This fulfills requirement 3.2.7 A --*/
@media (min-width: 60rem) {
   .feedback_rating {
      background-color: #232323;
      height: auto;
      display: flex;
   }
}

/*--This fulfills requirement 3.2.7 A --*/
@media (max-width: 59rem) {
   .feedback_rating {
      background-color: #232323;
      height: auto;
      display: flex;
      flex-direction: column;

   }

}

/*--This fulfills requirement 3.2.2 B.V --*/

input[type="radio"] {
   visibility: hidden;
   appearance: none;
}

label {
   height: 5em;
   width: 5em;
   text-align: center;
   margin: auto;
   /*--This fulfills requirement 3.2.2 F.VI --*/
   border-radius: 100%;
   position: relative;
   color: #E7E2DE;
   transition: 0.1s;
}

.far {
   font-size: 3em;
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/*--This fulfills requirement 3.2.2 B.VI --*/

input[type="radio"]:checked+label {

   /*--This fulfills requirement 3.2.2 C --*/
   color: rgba(141, 198, 63, 255);

}

/* Second radio set form styles */

/*--This fulfills requirement 3.2.7 A --*/
@media (min-width: 60rem) {

   .main-container {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
   }
}

/*--This fulfills requirement 3.2.7 A --*/
@media (max-width: 59rem) {
   .main-container {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

}

.radio-buttons {
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

.custom-radio input {
   display: none;
}

.radio-btn {
   margin: 10px;
   width: 180px;
   height: 200px;
   border: 3px solid transparent;
   display: inline-block;
   /*--This fulfills requirement 3.2.2 F.VI --*/
   border-radius: 10px;
   position: relative;
   text-align: center;
   box-shadow: 0 0 20px #c3c3c367;
   cursor: pointer;
}

.radio-btn>i {
   color: #ffff;
   /*--This fulfills requirement 3.2.2 C --*/
   background-color: rgba(141, 198, 63, 255);
   font-size: 20px;
   position: absolute;
   top: -15px;
   left: 50%;
   transform: translateX(-50%) scale(4);
   border-radius: 50px;
   padding: 3px;
   transition: 0.2s;
   pointer-events: none;
   opacity: 0;
}

.radio-btn .hobbies-icon {
   width: 80px;
   height: 80px;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.radio-btn .hobbies-icon i {
   color: rgba(141, 198, 63, 255);
   line-height: 80px;
   font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
   position: absolute;
   left: 50%;
   top: 6em;
   transform: translate(-50%, -50%);
   color: rgba(141, 198, 63, 255);
   font-family: sans-serif;
   font-size: 16px;
   font-weight: 400;
   text-transform: uppercase;
   text-align: center;

}

/*--This fulfills requirement 3.2.2 B.VI --*/
.custom-radio input:checked+.radio-btn {
   border: 3px solid rgba(141, 198, 63, 255);
}

/*--This fulfills requirement 3.2.2 B.VI --*/
.custom-radio input:checked+.radio-btn>i {
   opacity: 1;
   transform: translateX(-50%) scale(1);
}

/* Textarea form styles */

.textarea_container {
   position: relative;
   height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

textarea {
   position: absolute;
   margin-left: auto;
   margin-right: auto;


}

input:focus {
   outline: none;
   /*--This fulfills requirement 3.2.2 C --*/
   border-color: rgba(141, 198, 63, 255);
   box-shadow: 0 0 10px rgba(141, 198, 63, 255);
}

textarea:focus {
   outline: none;
   border-color: rgba(141, 198, 63, 255);
   box-shadow: 0 0 10px rgba(141, 198, 63, 255);
}

/* Form Button Styles */
div#buttons {
   text-align: center;
   width: 100%;
   height: 10vh;

}



input[type='submit'],
input[type='reset'] {
   font-size: 1.2em;
   padding: 5em;
   margin: 15px;
   display: inline-block;
   padding: 0.3em 1.2em;
   margin: 0 0.3em 0.3em 0;
   margin-top: 2em;
   border-radius: 2em;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
   color: #FFFFFF;
   background-color: #1D2228;
   text-align: center;
   transition: all 0.2s;
}

/*--This fulfills requirement 3.2.2 B.V --*/
input[type='submit']:hover,
input[type='reset']:hover {
   /*--This fulfills requirement 3.2.2 C --*/
   background-color: (141, 198, 63, 255);
}