@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styles for body
======================= */

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;

  line-height: 1.6;

}

/*--This fulfills requirement 3.2.2 B.I --*/
body,
h1,
h2,
h3,
p {
  /*--This fulfills requirement 3.2.2 F.IV --*/
  margin: 0;
}

/*--This fulfills requirement 3.2.2 B.I --*/
h1,
h2,
h3 {
  color: #232323;
  font-weight: 900;
  line-height: 1;
}

/*--This fulfills requirement 3.2.2 B.I --*/
h2,
h3,
p {
  /*--This fulfills requirement 3.2.2 F.IV --*/
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}


section {
  /*--This fulfills requirement 3.2.2 F.IV --*/
  padding: 4rem 0;

}

/*--This fulfills requirement 3.2.7 A --*/
@media (min-width: 40em) {

  section {
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  /*--This fulfills requirement 3.2.2 H.II --*/
  display: flex;
  flex-direction: column;
}

/*--This fulfills requirement 3.2.7 A --*/
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  /*--This fulfills requirement 3.2.2 B.III --*/
  .split>* {
    flex-basis: 100%;
  }

  .split>*+* {
    margin-left: 2em;
  }


}



.container--narrow {
  max-width: 34rem;
}

/* light background sections
======================= */
.bg-light {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/Header_image.jpg);
  opacity: 3;
  background-size: cover;
  background-position: center;
  padding: 10em 0;

}

.title {
  color: #fff;
}


.bg-primary {
  color: #fff;
  background-color: #824936;
}

.bg-dark {
  color: #fff;
  background-color: #232323;
}

.bg-primary h2,
.bg-dark h2 {
  color: #f3eed9;
}

/*---- table styles ---*/

/*--This fulfills requirement 3.2.2 A.V --*/
.styled-table {

  /*--This fulfills requirement 3.2.2 F.IV --*/
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}



.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}



.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* rotate the images
======================= */
.rotate {
  /*--This fulfills requirement 3.2.2 J --*/
  transform: rotate(0deg);
  /*--This fulfills requirement 3.2.2 K --*/
  opacity: 1;

}

/*--This fulfills requirement 3.2.7 A --*/
@media (min-width: 40em) {

  .styled-table {
    min-width: 400px;

  }

  .rotate {

    /*--This fulfills requirement 3.2.2 J --*/
    transform: rotate(-10deg);
    /*--This fulfills requirement 3.2.2 K --*/
    opacity: 0.5;
  }
}

.rotate-2 {
  /*--This fulfills requirement 3.2.2 J --*/
  transform: rotate(0deg);
  /*--This fulfills requirement 3.2.2 K --*/
  opacity: 1;
}

@media (min-width: 40em) {

  .rotate-2 {

    /*--This fulfills requirement 3.2.2 J --*/
    transform: rotate(90deg);
    /*--This fulfills requirement 3.2.2 K --*/
    opacity: 0.5;
  }
}



/* slides animation
======================= */

/*--This fulfills requirement 3.2.5 B.I --*/

.slide {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;

  }

  to {
    margin-left: 0%;

  }
}

/* video to make it responsive
======================= */

video {
  /* override other styles to make responsive */
  width: 100%;
  height: auto;
}